<table class="table table-striped">
    <thead>
    <tr>
        <th>server</th>
        <th>host</th>
        <th>proc name</th>
        <th>pid</th>
        <th>last response</th>
        <th>latency</th>
        <th>total calls</th>
        <th>per call</th>
        <th>runtime</th>
    </tr>
    </thead>

    <tbody ng-repeat="sample in state.workers">
    <td>{{sample.server}}</td>
    <td>{{sample.host}}</td>
    <td>{{sample.proc_name}}</td>
    <td>{{sample.wid}}</td>
    <td>{{sample.resp_time}}</td>
    <td>{{sample.latency}}</td>
    <td>{{sample.calls}}</td>
    <td>{{sample.avg}}</td>
    <td>{{sample.runtime}}</td>
    </tbody>
</table>
